@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Protest+Revolution&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.menu .logo {
    display: flex;
    gap: .7rem;
    align-items: center;
}

.menu .logo img {
    width: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.logo--links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logo--links a {
    color: #fff;
    text-decoration: none;

}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.514), rgba(48, 43, 99, 0.184), rgba(14, 11, 40, 0.151));
    z-index: 100;
}

.hero-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

.hero-slider .carousel-cell {
    width: 100%;
    height: 100%;
    background: no-repeat center/cover;


    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-slider .carousel-cell .info-container {

    position: relative;
}

.hero-slider .carousel-cell .info-container .header {
    font-family: "Onest", sans-serif;

    font-size: 2rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    /* margin-bottom: 1rem; */
}

.hero-slider .carousel-cell .info-container .text {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 255, 255, 0.945);

    font-size: 4rem;

    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 32px;

    background: linear-gradient(to right, #ece9e6, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-slider .carousel-cell .info-container button {
    padding: 10px 25px;
    background-color: transparent;
    font-family: "Onest", sans-serif;

    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 10px;

}

.hero-slider .carousel-cell .info-container button:hover {
    background-color: #fff;
    color: #000;
    font-weight: bold;
}

.hero-slider .flickity-prev-next-button {
    width: 85px;
    height: 85px;
    background-color: transparent;
}

.hero-slider .flickity-prev-next-button .arrow {
    fill: #fff;
}

.hero-slider .flickity-page-dots {
    bottom: 60px;
}

.hero-slider .flickity-page-dots .dot {
    width: 40px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 1;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.hero-slider .flickity-page-dots .dot:hover,
.hero-slider .flickity-page-dots .dot.is-selected {
    background-color: #fff;
}